.r-input
  display inline-block
  border 1px solid #bbb
  background-color #fff
  border-radius 4px
  height 36px
  font-size inherit
  line-height 1
  padding 3px 10px
  appearance none
  transition border-color .2s cubic-bezier(.654, .045, .355, 1)
  &:focus
    border-color #20a0ff
    outline none